* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: auto;
  background: #fff;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
